
@model OIDModel.OID
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>This is the OID Page</h1>

<br /><span>ID: </span> @Model.ID
<br /><span>Parent: </span> @Model.Parent
<br /><span>Number: </span> @Model.Number
<br /><span>Identifier: </span> @Model.Identifier
